<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Users</title>
</head>
<body>
  <h1>Delete Users</h1>
  <ul>
    @each(user in users)
      <li>
        {{ user.username }} - {{ user.email }}
        <form action="/users/{{ user.id }}" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          {{ csrfField() }}
          <button type="submit">Delete</button>
        </form>
      </li>
    @endeach
  </ul>
</body>
</html>
