<!-- File: resources/views/emails/verify.edge -->
<h1>Welcome to our API, {{ username }}!</h1>

<p>
  Please confirm your email address by clicking on the link below.
</p>

<p>
  <a href="http://http://13.48.10.251//verify?token={{ token }}">Confirm email address</a>
</p>
